<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/play.css'/>
    </head>
    <body>
        <embed src="/music/music.mp3" loop="true" autostart="true" width="0" height="0">
        <center><h1><%= title %></h1></center>
        <center><img src = "/images/battlebackground.png"; style = "width: 50%; height: 50%;"></center>
        <img src = "/images/back/<%= pokemon1 %>.png" style = "position: relative; bottom: 250px; left: 300px; height: 50%; width: 25%">
        <img src = "/images/front/<%= pokemon2 %>.png" style = "position: absolute; top: 100px; left: 675px; height: 300px; width: 300px;">
        <center>
            <h1>What will you do?</h1>
        </center>
        <center>
        <div class = "button-container">
            <button class="move" id="move1" onclick="console.log(<%= calcDamage %>)"><%= calcDamage %></button>
            <button class="move" id="move2" onclick="document.getElementById('move3').style.color = 'red';">change button3</button>
            <button class="move" id="move3" onclick="">testing</button>
            <button class="move" id="move4" onclick="isEffective('water', 'fire')">boing</button>
        </div>
        </center>
    </body>
</html>