<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        let playerTeam = [1,2,3,4,5,6];
        let opponentTeam = [1,2,3,4,5,6];
        let playerPokemon = playerTeam[0];
        let opponentPokemon = opponentTeam[0];
    </script>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/play.css'/>
    </head>
    <body>
        <embed src="/music/music.mp3" loop="true" autostart="true" width="0" height="0">
        <center><h1><%= title %></h1></center>
        <center><img src = "/images/backgrounds/<%= bg %>"; style = "width: 50%; height: 50%;"></center>
        <img src = "/images/back/<%= team1[0] %>.png" id = "bsprite" style = "position: relative; bottom: 250px; left: 300px; height: 50%; width: 25%">
        <img src = "/images/front/<%= team2[0] %>.png" style = "position: absolute; top: 100px; left: 675px; height: 300px; width: 300px;">
        <center>
            <h1 id="action-text">What will you do?</h1>
        </center>
        <center>
        <div class = "button-container">
            <button class="move" id="move1" onclick="opponentTurn(move1)"><%= calcDamage %></button>
            <button class="move" id="move2" onclick="opponentTurn(move2)">change button3</button>
            <button class="move" id="move3" onclick="opponentTurn(move3)">testing</button>
            <button class="move" id="move4" onclick="opponentTurn(move4)">boing</button>
        </div>
            <button type = "button" id = "swit1" onclick="switched(0, '<%=team1%>')"><%=team1[0]%></button>
            <button type = "button" id = "swit2" onclick="switched(1, '<%=team1%>')"><%=team1[1]%></button>
            <button type = "button" id = "swit3" onclick="switched(2, '<%=team1%>')"><%=team1[2]%></button>
            <button type = "button" id = "swit4" onclick="switched(3, '<%=team1%>')"><%=team1[3]%></button>
            <button type = "button" id = "swit5" onclick="switched(4, '<%=team1%>')"><%=team1[4]%></button>
            <button type = "button" id = "swit6" onclick="switched(5, '<%=team1%>')"><%=team1[5]%></button>
        </center>
    </body>
    <script>
        const playModel = require('../models/playModel');
        const aiModel = require('../models/aiModel');
        function opponentTurn(playerMove){
            if(playModel.isFaster("pokemon1", "pokemon2")){
                let damage = playModel.calcDamage("pokemon1", "pokemon2", playerMove);
                if(playModel.isDead("pokemon2", damage)){
                        aiModel.teamSwitch(opponentTeam);
                }else{
                    let damage = playModel.calcDamage("pokemon2", "pokemon1", "opponentMove");
                    if(playModel.isDead("pokemon1", damage)){
                        playModel.forceChange();
                    }
                }
            }else{
                let damage = playModel.calcDamage("pokemon2", "pokemon1", "opponentMove");
                if(playModel.isDead("pokemon1", damage)){
                    playModel.forceChange();
                }else{
                    let damage = playModel.calcDamage("pokemon1", "pokemon2", playerMove);
                    if(playModel.isDead("pokemon2", damage)){
                        aiModel.teamSwitch(opponentTeam);
                    }
                }
            }
        }
        function switched(x,team){
            var splitString = team.split(",")
            var y = splitString[x];
            var currelem = document.getElementById("bsprite")
            currelem.src = "/images/back/"+y+".png"
        }
    </script>
</html>