<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        let playerTeam = '<%=team1%>';
        var stip = playerTeam.split(",")
        let opponentTeam = '<%=team2%>';
        var stip2 = playerTeam.split(",")
        let playerPokemon = stip[0];
        let opponentPokemon = stip2[0];
        let playerTeamHp = playModel.generateHp(stip);
        let opponentTeamHp = playModel.generateHp(opponentTeam);
        function forceChange(){
            var actionText = document.getElementById('action-text');
            var moveContainer = document.getElementById('button-container');
            moveContainer.toggle();
            actionText.innerHTML = "Change Pokemon";
            document.getElementById("switch-pokemon").onclick = function battleUI() {
                moveContainer.toggle();
                actionText.innerHTML = "What will you do?";
	        }
        }
        function opponentTurn(moveNumber){
            let turnOrder = playModel.turnOrdering(playerPokemon, team2[0]);
            let playerMoves = playModel.getMoves(playerPokemon);
            if(turnOrder[0] == 1){
                if(doDamage(opponentTeamHp[0], calcDamage(playerPokemon, opponentPokemon, playerMoves[moveNumber])) <= 0){
                    opponentTeamHp.shift();
                    aiModel.teamSwitch(opponentTeam);
                }else{
                    opponentTeamHp[0] -= calcDamage(playerPokemon, opponentPokemon, playerMoves[moveNumber]);
                    if(doDamage(playerTeamHp[activeIndex], calcDamage(opponentPokemon, playerPokemon, chooseMove[opponentPokemon, playerPokemon])) <= 0){
                        playerTeam.splice(activeIndex, 1);
                        forceChange();
                    }else{
                        playerTeamHp[activeIndex] -= calcDamage(opponentPokemon, playerPokemon, chooseMove[opponentPokemon, playerPokemon]);
                    }
                }
            }else{
                if(doDamage(playerTeamHp[activeIndex], calcDamage(opponentPokemon, playerPokemon, chooseMove[opponentPokemon, playerPokemon])) <= 0){
                        playerTeam.splice(activeIndex, 1);
                        forceChange();
                }else{
                    playerTeamHp[activeIndex] -= calcDamage(opponentPokemon, playerPokemon, chooseMove[opponentPokemon, playerPokemon]);
                    if(doDamage(opponentTeamHp[0], calcDamage(playerPokemon, opponentPokemon, playerMoves[moveNumber])) <= 0){
                        opponentTeamHp.shift();
                        aiModel.teamSwitch(opponentTeam);
                    }else{
                        opponentTeamHp[0] -= calcDamage(playerPokemon, opponentPokemon, playerMoves[moveNumber]);
                }
            }
        }
    }
        function switched(x,team){
            var currteam = stip
            var y = currteam[x];
            console.log(y)
            var newX = String(x);
            var currelem = document.getElementById("bsprite");
            var t = x
            var v = document.getElementById("swit"+t)
            var c = v.innerHTML
            currelem.src = "/images/back/" + v.innerHTML + ".png";
            c = v.innerHTML
            v.innerHTML = playerPokemon
            playerPokemon = c
        }
    </script>
    </head>
    <body>
        <embed src="/music/music.mp3" loop="true" autostart="true" width="0" height="0">
        <center><h1><%= title %></h1></center>
        <center><img src = "/images/backgrounds/<%= bg %>"; style = "width: 50%; height: 50%;"></center>
        <img src = "/images/back/<%= team1[0] %>.png" id = "bsprite" style = "position: relative; bottom: 250px; left: 300px; height: 50%; width: 25%">
        <img src = "/images/front/<%= team2[0] %>.png" style = "position: absolute; top: 100px; left: 675px; height: 300px; width: 300px;">
        <center>
            <h1 id="action-text">What will you do?</h1>
        </center>
        <center>
        <div class = "button-container">
            <button class="move" id="move1" onclick="opponentTurn(0)"><%= calcDamage %></button>
            <button class="move" id="move2" onclick="opponentTurn(1)">change button3</button>
            <button class="move" id="move3" onclick="opponentTurn(2)">testing</button>
            <button class="move" id="move4" onclick="opponentTurn(3)">boing</button>
        </div>
            <button type = "button" class="switch" id = "swit1" onclick="switched(1, '<%=team1%>')"><%=team1[1]%></button>
            <button type = "button" class="switch" id = "swit2" onclick="switched(2, '<%=team1%>')"><%=team1[2]%></button>
            <button type = "button" class="switch" id = "swit3" onclick="switched(3, '<%=team1%>')"><%=team1[3]%></button>
            <button type = "button" class="switch" id = "swit4" onclick="switched(4, '<%=team1%>')"><%=team1[4]%></button>
            <button type = "button" class="switch" id = "swit5" onclick="switched(5, '<%=team1%>')"><%=team1[5]%></button>
        </center>
        <div id = "hpbg1"></div>
        <div id = "hp1"></div>
        <div id = "hpbg2"></div>
        <div id = "hp2"></div>
    </body>
</html>